verde = #0f8944
claro = #e0eae4
voscuro = #013015
negro = #231f20
light = #f1f1f1


// Estilos generala

@import url(http://fonts.googleapis.com/css?family=Fjalla\+One)

@font-face
  font-family 'Droid Sans'
  font-style normal
  font-weight 400,700
  src local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v4/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff')

@font-face
    font-family 'league'
    font-style normal
    font-weight normal
    src  url('../font/league/leaguegothic-regular-webfont.eot')
    src  url('../font/league/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/league/leaguegothic-regular-webfont.woff') format('woff'),
         url('../font/league/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../font/league/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg')



*,
*:after,
*:before
    -moz-box-sizing border-box
    box-sizing border-box

html,
body
    width 100%
    height 100%
    min-height 100%

body
    background white


header
    .titulo
        -webkit-transition background 0.3s, box-shadow 0.3s
        color voscuro
        display block
        font-family 'league'
        font-size 2.5em
        outline none
        padding 0.2em 1em 0.2em 1.2em
        text-decoration none
        text-transform uppercase
        transition background 0.3s, box-shadow 0.3s

.btn-link
    &:hover,
    &:focus
        color voscuro
        text-decoration underline
        background-color transparent

.fill
    min-height 100%
    height 100%

.top-button
    color verde
    font-size 25px
    &:active
        color voscuro
    &:focus
        -webkit-appearance none
        outline 0px !important
    &:hover
        text-shadow 1px 1px 1px voscuro!important
        transition 0.2s

.navbar-default
    background white
    border-color rgba(255, 255, 255, 0)
    margin-bottom 0px

.invita
    background verde
    padding 0.2em 1em
    color white
    font-family 'Droid Sans'
    font-weight 700
    margin-bottom 0px

#sidebar
    background claro
    border-right 5px solid #c2c2c2
    padding-left 30px
    ul
        listyle none
        margin 0
        padding 0
        .leftmenu
            padding-left 15px
        li
            a
                -webkit-transition background 0.3s, box-shadow 0.3s
                box-shadow inset 0 -1px rgba(0,0,0,0.1)
                color #313332
                display block
                font-family 'league'
                font-size 1.4em
                letter-spacing 1px
                outline none
                padding 0.5em 1em 0.5em 1.2em
                text-decoration none
                text-transform uppercase
                transition background 0.3s, box-shadow 0.3s
                &:hover
                    background rgba(0,0,0,0.2)
                    box-shadow inset 0 -1px rgba(0,0,0,0)
                    color #fff
            &:firchild
                a
                    box-shadow inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2)

.submenu
    position fixed
    bottom 0
    background negro
    height 50px
    margin-left -15px
    div
        background negro
        color claro
        a
            display block
            padding 0.6em 0
            height 50px
            background negro
            color claro
            font-family 'league', 'sans-serif'
            text-transform uppercase
            font-size 1.5em
            font-spacing 1em
            text-decoration none
            &:hover
                background verde

        .activo
            background verde

#map
    width 100%
    height 300px


.photo
    display table
    width 100%
    height 300px
    padding 100px 0
    text-align: center
    color #fff
    background: url('../img/restaurant.jpg') no-repeat center center scroll
    background-color #f1f1f1
    -webkit-background-size cover
    -moz-background-size cover
    background-size cover
    -o-background-size cover

.icon-phone
    &:before
        content:'\e804'
        font-size 1.09em

// Estilos Home
.ind
    background claro

.ho
    .navbar-default
    background verde
    border-color verde

    .row-offcanvas
        background verde

    .navbar-default
        .top-button
            color claro
            font-size 25px
            &:active
                color voscuro
            &:focus
                -webkit-appearance none
                outline 0px !important
            &:hover
                text-shadow 1px 1px 1px voscuro
                transition 0.2s

.pro
    .navbar-default
        background white
        border-color white

.home
    background verde
    vertical-align middle
    margin-bottom 60px
    header
        padding-top 0px
    .navbar-default
        background verde
        border-color verde

    .row-offcanvas
        background verde

    .navbar-default
        .top-button
            color claro
            font-size 25px
            &:active
                color voscuro
            &:focus
                -webkit-appearance none
                outline 0px !important
            &:hover
                text-shadow 1px 1px 1px voscuro
                transition 0.2s

    .subtitulo
        -webkit-transition background 0.3s, box-shadow 0.3s
        color white
        display block
        font-family 'league'
        font-size 1.15em
        outline none
        padding 0.2em 1em 0.2em 1.2em
        text-decoration none
        text-transform uppercase
        transition background 0.3s, box-shadow 0.3s

    .home-menu
        ul
            float none
            list-style none
            listyle none
            margin 0 auto
            padding 0
            li
                a
                    -webkit-transition background 0.3s, box-shadow 0.3s
                    box-shadow inset 0 -1px rgba(255,255,255,0.5)
                    color claro
                    display block
                    font-family 'league'
                    font-size 2.4em
                    letter-spacing 1px
                    outline none
                    padding 0.2em 1em 0.2em 1.2em
                    text-decoration none
                    text-transform uppercase
                    transition background 0.3s, box-shadow 0.3s
                    &:hover
                        background rgba(0,0,0,0.2)
                        box-shadow inset 0 -1px rgba(0,0,0,0)
                        color #fff
                .fc
                    box-shadow inset 0 1px rgba(255,255,255,0.5), inset 0 -1px rgba(255,255,255,0.5)
    .social
        margin 10px auto
        ul
            float none
            margin 0 auto
            padding 0
            li
                display inline
                list-style none
                a
                    color negro
                    font-size 30px
                    padding 0.2em 0.5em 0.2em 0.5em
                    &:hover
                        color claro

.modal-dialog
    height 100%
    margin 0
    padding 0
    width 100%


.modal-content
    background rgba(0,0,0,0.8)
    border-radius 0
    color claro
    height 100%

.modal-body
    top 15%
    .bici
        font-family 'league'
        font-size 40px
        line-height 38px
        text-transform uppercase
        .chica
            font-size 28px
        .icon-bicycle
            font-size 60px
    button
        background verde
        border none
        color claro
        font-weight bold

// Estilos Nosotros
.nosotros
    .icon-menu
        margin-left 0px

    .icon-phone
        margin-right 0px

    section
        .photo
            -moz-background-size cover
            -o-background-size cover
            -webkit-background-size cover
            background-color #f1f1f1
            background-size cover
            background: url('../img/restaurant.png') no-repeat center center scroll
            color #fff
            display table
            height 200px
            padding 100px 0
            text-align: center
            width 100%

    .invita
        background verde
        padding 0.2em 1em
        color white
        font-family 'Droid Sans'
        font-weight 700
        margin-bottom 0px

    .contenido
        padding-bottom 40px
.desc-text
    margin-top 10px
    font-family 'Droid Sans'
    line-height 1.6em
    text-align justify



// Estilos Locales

.locales
    padding-bottom 30px
    .locales-menu
            ul
                float none
                list-style none
                listyle none
                margin 0 auto
                padding 0
                li
                    a
                        -webkit-transition background 0.3s, box-shadow 0.3s
                        box-shadow inset 0 -1px rgba(255,255,255,0.5)
                        color verde
                        display block
                        font-family 'league'
                        font-size 2.4em
                        letter-spacing 1px
                        outline none
                        padding 0.2em 1em 0.2em 1.2em
                        text-decoration none
                        text-transform uppercase
                        transition background 0.3s, box-shadow 0.3s
                        &:hover
                            background rgba(0,0,0,0.2)
                            box-shadow inset 0 -1px rgba(0,0,0,0)
                            color #fff
                    .fc
                        box-shadow inset 0 1px rgba(255,255,255,0.5), inset 0 -1px rgba(255,255,255,0.5)

    .photo
        background: url('../img/diagonal.jpg') no-repeat center center scroll

    .invita
        margin-bottom 20px
        a
            color white



// Estilos Productos

.productos
    background white
    .productos-menu
            ul
                float none
                list-style none
                listyle none
                margin 0 auto
                padding 0
                li
                    a
                        -webkit-transition background 0.3s, box-shadow 0.3s
                        box-shadow inset 0 -1px rgba(0,0,0,0.1)
                        color verde
                        display block
                        font-family 'league'
                        font-size 2.4em
                        letter-spacing 1px
                        outline none
                        padding 0.2em 1em 0.2em 1.2em
                        text-decoration none
                        text-transform uppercase
                        transition background 0.3s, box-shadow 0.3s
                        &:hover
                            background rgba(0,0,0,0.2)
                            box-shadow inset 0 -1px rgba(0,0,0,0)
                            color #fff
                    .fc
                        box-shadow inset 0 1px rgba(0,0,0,0.1), inset 0 -1px rgba(0,0,0,0.1)

// Pizzas, Empanadas

.pizzas,
.empanadas,
.otros-productos,
.cervezas
    background white
    padding-bottom 80px
    h3
        font-family 'league'
        font-size 2em
        text-transform uppercase
        box-shadow inset 0 -1px rgba(0,0,0,0.1)
        padding-top 0
        .fc
            box-shadow inset 0 -1px rgba(0,0,0,0.1), inset 0 1px rgba(0,0,0,0.1)

    ul
        margin 0 auto 20px auto
        padding 0
        li
            display inline-block
            list-style none
            background black
            padding 0.2em 0.8em 0.3em 0.8em
            margin -1px
            color claro
            text-align center
            font-size 1em
            text-transform uppercase
            font-family 'league'
            letter-spacing 0.1em

    .desc-text
        margin-top 10px
        font-family 'Droid Sans'
        line-height 1.8em
        text-align justify

    .ingredientes
        color verde
        font-family 'Fjalla One', 'sans-serif'
        font-size 1.2em
        margin 0
        padding 0.1em 0 0.2em 0
        text-transform uppercase
    .photo
        -moz-background-size cover
        -o-background-size cover
        -webkit-background-size cover
        background-color #f1f1f1
        background-size cover
        background: url('../img/pizza.jpg') no-repeat center center scroll
        color #fff
        display table
        height 200px
        padding 100px 0
        text-align: center
        width 100%

    .precio
        font-family 'Fjalla One', 'sans-serif'
        font-size 1.6em
        letter-spacing 0em

    .premium
        font-size 1em

    .kids
        li
            background rgba(0,0,0,0.2)
            text-transform none
            font-family 'Droid Sans'
            border-radius 5px
            font-size 0.9em
            color verde
            display inline-block
            margin-top 20px

.otros
    .desc-text
        text-align justify

.col-xs-12
    .col-xs-12
        padding-right 5px
        padding-left 5px

// cervezas

.cervezas
    .cc
        padding-top 0px

    .zeropadding
        padding-left 0px
        padding-right 0px

    .alcohol
        color verde
        font-size 0.6em
        padding 2px
        vertical-align top

    .bigbeer
        padding-bottom 0px
        margin-bottom -5px

    .fc
        margin-bottom 2px
        margin-top 2px

    .ciudad
        color verde!important
        font-size 1em

    .row
        margin 20px 0px

    .ingredientes
        color voscuro

    .nacional
        .alcohol
            font-size 0.8em

    .titulo
        line-height 1em

    .ssection
        margin-top 20px

        .subtl
            color verde

    .pais
        font-size 1em
        padding-bottom 0px

    .photo
        display table
        width 100%
        height 200px
        padding 100px 0
        text-align: center
        color #fff
        background: url('../img/cerveza.png') no-repeat center center scroll
        background-color #f1f1f1
        -webkit-background-size cover
        -moz-background-size cover
        background-size cover
        -o-background-size cover

// Contacto

.contacto
    .titulo
        font-size 2em
        font-family 'league'
    .direccion
        -webkit-transition background 0.3s, box-shadow 0.3s
        box-shadow inset 0 -1px rgba(0,0,0,0.1)
        color verde
        display block
        font-family 'league'
        font-size 1.6em
        letter-spacing 0px
        background none
        line-height 0.9em
        outline none
        padding 0.2em 0.5em 0.2em 0.5em
        text-decoration none
        text-transform uppercase
        transition background 0.3s, box-shadow 0.3s

    ul
        float none
        list-style none
        listyle none
        margin 0 auto
        padding 0 20px
        li
        .tel
            padding 10px 0
        a
            -webkit-transition background 0.3s, box-shadow 0.3s
            box-shadow inset 0 -1px rgba(0,0,0,0.1)
            color white
            background verde
            display inline-block
            font-family 'league'
            font-size 2em
            letter-spacing 0px
            line-height 0.9em
            outline none
            padding 0.2em 0.5em 0.2em 0.5em
            text-decoration none
            text-transform uppercase
            transition background 0.3s, box-shadow 0.3s
            border-radius 5px
            &:hover
                    background rgba(0,0,0,0.2)
                    box-shadow inset 0 -1px rgba(0,0,0,0)
                    color verde
            a
                -webkit-transition background 0.3s, box-shadow 0.3s
                box-shadow inset 0 -1px rgba(0,0,0,0.1)
                color white
                background verde
                display inline-block
                font-family 'league'
                font-size 1.6em
                letter-spacing 0px
                line-height 0.9em
                outline none
                padding 0.2em 0.5em 0.2em 0.5em
                text-decoration none
                text-transform uppercase
                transition background 0.3s, box-shadow 0.3s
                border-radius 5px

                &:hover
                    background rgba(0,0,0,0.2)
                    box-shadow inset 0 -1px rgba(0,0,0,0)
                    color verde
                .fc
                    box-shadow inset 0 1px rgba(0,0,0,0.1), inset 0 -1px rgba(0,0,0,0.1)

    .disponibilidad,
    .horario
        margin 10px 20px
        padding 0 20px
        h5
            font-family 'league'
            font-size 1.6em
            letter-spacing 0px
            line-height 0.9em
            text-transform uppercase
            color verde
            padding 1em 0 0.2em 0
    .horario
        box-shadow inset 0 1px rgba(0,0,0,0.1), inset 0 -1px rgba(0,0,0,0.1)
        margin-bottom 50px

@media screen and (min-width: 990px)
    body
        background claro

    .home,
    .productos
        header
            padding-top 50px
            margin-bottom 0px
        .social
            margin-top 20px
    .nosotros,
    .empanadas
        padding-bottom 50px
        padding-left 15px
        background white
        .sidebar
            background claro
    .productos
        background white
    .fonda
        background claro
    .prod
    .container
        padding 0px
        margin 0 0 0 0px
    .cervezas
        .img-responsive
            margin 0 auto
    .home
        margin-bottom 0px!important
    #sidebar
        border-right 0px

@media (min-width: 992px)
    .col-md-9
        width 74.5%


