verde = #0f8944
claro = #e0eae4
voscuro = #013015

/*Estilos generala */

@font-face
    font-family 'league'
    font-style normal
    font-weight normal
    src url('../fonts/leaguegothic-regular-webfont.eot')
    src url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg')

*,
*:after,
*::before
    -moz-box-sizing border-box
    box-sizing border-box

html,
body,
.dhcontainer,
.pusher,
.content
    height 100%

.content,
.content-inner
    position relative

.content
    background #f3efe0
    overflow-y scroll

.dhcontainer
    overflow hidden
    position relative

.effect
    &.dhcontainer
        -webkit-perspective 1500px
        -webkit-perspective-origin 0% 50%
        perspective 1500px
        perspective-origin 0% 50%
    .pusher
        -webkit-transform-style preserve-3d
        transform-style preserve-3d
    &.menu-open
        .pusher
            -webkit-transform translate3d(300px, 0, 0)
            transform translate3d(300px, 0, 0)
        .effect
            &.menu
                -webkit-transform translate3d(-100%, 0, 0) rotateY(0deg)
                -webkit-transition -webkit-transform 0.5s
                transform translate3d(-100%, 0, 0) rotateY(0deg)
                transition transform 0.5s
                visibility visible
    &.menu
        -webkit-transform translate3d(-100%, 0, 0) rotateY(90deg)
        -webkit-transform-origin 100% 50%
        -webkit-transform-style preserve-3d
        transform translate3d(-100%, 0, 0) rotateY(90deg)
        transform-origin 100% 50%
        transform-style preserve-3d
        &::after
            display none

.menu-open
    .pusher
        &::after
            -webkit-transition opacity 0.5s
            height 100%
            opacity 1
            transition opacity 0.5s
            width 100%
    .menu
        &::after
            -webkit-transition opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
            height 0
            opacity 0
            transition opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
            width 0

.menu
    -webkit-transition all 0.5s
    background #e0eae4
    border-right 5px solid #c2c2c2
    height 100%
    left 0
    position absolute
    top 0
    transition all 0.5s
    visibility hidden
    width 300px
    z-index 100
    &::after
        -webkit-transition opacity 0.5s
        background rgba(0,0,0,0.2)
        content ''
        height 100%
        opacity 1
        position absolute
        right 0
        top 0
        transition opacity 0.5s
        width 100%
    ul
        listyle none
        margin 0
        padding 0
        li
            a
                -webkit-transition background 0.3s, box-shadow 0.3s
                box-shadow inset 0 -1px rgba(0,0,0,0.1)
                color #313332
                display block
                font-family 'league'
                font-size 1.4em
                letter-spacing 1px
                outline none
                padding 0.5em 1em 0.5em 1.2em
                text-decoration none
                text-transform uppercase
                transition background 0.3s, box-shadow 0.3s
                &:hover
                    background rgba(0,0,0,0.2)
                    box-shadow inset 0 -1px rgba(0,0,0,0)
                    color #fff
            &:firchild
                a
                    box-shadow inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2)
    h2
        color rgba(0,0,0,0.4)
        font-size 2em
        font-weight 300
        margin 0
        padding 1em
        text-shadow 0 0 1px rgba(0,0,0,0.1)

.no-csstransforms3d .pusher,
.no-js .pusher
    padding-left 300px

.pusher
    -webkit-transition -webkit-transform 0.5s
    height 100%
    left 0
    position relative
    transition transform 0.5s
    z-index 99
    &::after
        -webkit-transition opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
        background rgba(0,0,0,0.2)
        content ''
        height 0
        opacity 0
        position absolute
        right 0
        top 0
        transition opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
        width 0

/* Estilos Home */
.home
        background verde

        header
            .subtitulo
                -webkit-transition background 0.3s, box-shadow 0.3s
                color white
                display block
                font-family 'league'
                font-size 1.7em
                outline none
                padding 0.2em 1em 0.2em 1.2em
                text-decoration none
                text-transform uppercase
                transition background 0.3s, box-shadow 0.3s
         nav
            .top-button
                color claro
                font-size 25px
                &:active
                    color voscuro
                &:focus
                    -webkit-appearance none
                    outline 0px !important
                &:hover
                    text-shadow 1px 1px 1px voscuro
                    transition 0.2s
        section
            ul
                listyle none
                margin 0
                padding 0

                li
                    a
                        -webkit-transition background 0.3s, box-shadow 0.3s
                        box-shadow inset 0 -1px rgba(0,0,0,0.1)
                        color claro
                        display block
                        font-family 'league'
                        font-size 2.2em
                        letter-spacing 1px
                        outline none
                        padding 0.5em 1em 0.5em 1.2em
                        text-decoration none
                        text-transform uppercase
                        transition background 0.3s, box-shadow 0.3s

                        &:hover
                            background rgba(0,0,0,0.2)
                            box-shadow inset 0 -1px rgba(0,0,0,0)
                            color #fff

                    &:firstchild
                        a
                            box-shadow inset 0 1px rgba(0,0,0,0.5)



