verde = #0f8944
claro = #e0eae4
voscuro = #013015
negro = #231f20
light = #f1f1f1


// Estilos generala

@import url(http://fonts.googleapis.com/css?family=Fjalla\+One)

@font-face
    font-family 'league'
    font-style normal
    font-weight normal
    src  url('../font/league/leaguegothic-regular-webfont.eot')
    src  url('../font/league/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/league/leaguegothic-regular-webfont.woff') format('woff'),
         url('../font/league/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../font/league/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg')


*,
*:after,
*:before
    -moz-box-sizing border-box
    box-sizing border-box

html,
body
    width 100%
    height 100%
    min-height 100%



header
    .titulo
        -webkit-transition background 0.3s, box-shadow 0.3s
        color voscuro
        display block
        font-family 'league'
        font-size 2.5em
        outline none
        padding 0.2em 1em 0.2em 1.2em
        text-decoration none
        text-transform uppercase
        transition background 0.3s, box-shadow 0.3s

.btn-link
    &:hover,
    &:focus
        color voscuro
        text-decoration underline
        background-color transparent

.fill
    min-height 100%
    height 100%

.top-button
    color verde
    font-size 25px
    &:active
        color voscuro
    &:focus
        -webkit-appearance none
        outline 0px !important
    &:hover
        text-shadow 1px 1px 1px voscuro!important
        transition 0.2s

.navbar-default
    background none
    border-color rgba(255, 255, 255, 0)
    margin-bottom 0px

#sidebar
    background claro
    border-right 5px solid #c2c2c2
    ul
        listyle none
        margin 0
        padding 0
        li
            a
                -webkit-transition background 0.3s, box-shadow 0.3s
                box-shadow inset 0 -1px rgba(0,0,0,0.1)
                color #313332
                display block
                font-family 'league'
                font-size 1.4em
                letter-spacing 1px
                outline none
                padding 0.5em 1em 0.5em 1.2em
                text-decoration none
                text-transform uppercase
                transition background 0.3s, box-shadow 0.3s
                &:hover
                    background rgba(0,0,0,0.2)
                    box-shadow inset 0 -1px rgba(0,0,0,0)
                    color #fff
            &:firchild
                a
                    box-shadow inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2)

.submenu
    position fixed
    bottom 0
    background negro
    height 50px
    width 100%
    margin-left -15px
    div
        background negro
        color claro
        a
            display block
            padding 0.6em 0
            height 50px
            background negro
            color claro
            font-family 'league', 'sans-serif'
            text-transform uppercase
            font-size 1.5em
            font-spacing 1em
            text-decoration none
            &:hover
                background verde

        .activo
            background verde

#map
    width 100%
    height 300px

// Estilos Home

.home
    background verde
    vertical-align middle
    margin-bottom 30px
    .navbar-default
        background verde
        border-color verde

    .row-offcanvas
        background verde

    .navbar-default
        .top-button
            color claro
            font-size 25px
            &:active
                color voscuro
            &:focus
                -webkit-appearance none
                outline 0px !important
            &:hover
                text-shadow 1px 1px 1px voscuro
                transition 0.2s

    .subtitulo
        -webkit-transition background 0.3s, box-shadow 0.3s
        color white
        display block
        font-family 'league'
        font-size 1.4em
        outline none
        padding 0.2em 1em 0.2em 1.2em
        text-decoration none
        text-transform uppercase
        transition background 0.3s, box-shadow 0.3s

    .home-menu
        ul
            float none
            list-style none
            listyle none
            margin 0 auto
            padding 0
            li
                a
                    -webkit-transition background 0.3s, box-shadow 0.3s
                    box-shadow inset 0 -1px rgba(255,255,255,0.5)
                    color claro
                    display block
                    font-family 'league'
                    font-size 2.4em
                    letter-spacing 1px
                    outline none
                    padding 0.2em 1em 0.2em 1.2em
                    text-decoration none
                    text-transform uppercase
                    transition background 0.3s, box-shadow 0.3s
                    &:hover
                        background rgba(0,0,0,0.2)
                        box-shadow inset 0 -1px rgba(0,0,0,0)
                        color #fff
                .fc
                    box-shadow inset 0 1px rgba(255,255,255,0.5), inset 0 -1px rgba(255,255,255,0.5)
    .social
        margin 10px auto
        ul
            float none
            margin 0 auto
            padding 0
            li
                display inline
                list-style none
                a
                    color negro
                    font-size 30px
                    padding 0.2em 0.5em 0.2em 0.5em
                    &:hover
                        color claro

.modal-dialog
    height 100%
    margin 0
    padding 0
    width 100%


.modal-content
    background rgba(0,0,0,0.8)
    border-radius 0
    color claro
    height 100%

.modal-body
    .bici
        font-family 'league'
        font-size 40px
        line-height 38px
        text-transform uppercase
        .chica
            font-size 28px
        .icon-bicycle
            font-size 60px
    button
        background verde
        border none
        color claro
        font-weight bold

// Estilos Nosotros
.nosotros
    background light
    padding-bottom 30px
    section
        .photo
            display table
            width 100%
            height 300px
            padding 100px 0
            text-align: center
            color #fff
            background: url('../img/restaurant.jpg') no-repeat center center scroll
            background-color #f1f1f1
            -webkit-background-size cover
            -moz-background-size cover
            background-size cover
            -o-background-size cover
    .contenido
        padding-bottom 40px

// Estilos Locales

.locales
    padding-bottom 30px
    .locales-menu
            ul
                float none
                list-style none
                listyle none
                margin 0 auto
                padding 0
                li
                    a
                        -webkit-transition background 0.3s, box-shadow 0.3s
                        box-shadow inset 0 -1px rgba(255,255,255,0.5)
                        color verde
                        display block
                        font-family 'league'
                        font-size 2.4em
                        letter-spacing 1px
                        outline none
                        padding 0.2em 1em 0.2em 1.2em
                        text-decoration none
                        text-transform uppercase
                        transition background 0.3s, box-shadow 0.3s
                        &:hover
                            background rgba(0,0,0,0.2)
                            box-shadow inset 0 -1px rgba(0,0,0,0)
                            color #fff
                    .fc
                        box-shadow inset 0 1px rgba(255,255,255,0.5), inset 0 -1px rgba(255,255,255,0.5)

    .photo
        -moz-background-size cover
        -o-background-size cover
        -webkit-background-size cover
        background-color #f1f1f1
        background-size cover
        background: url('../img/diagonal.jpg') no-repeat center center scroll
        color #fff
        display table
        height 200px
        margin-bottom 10px
        padding 100px 0
        text-align: center
        width 100%


// Estilos Productos

.productos
    background light
    .productos-menu
            ul
                float none
                list-style none
                listyle none
                margin 0 auto
                padding 0
                li
                    a
                        -webkit-transition background 0.3s, box-shadow 0.3s
                        box-shadow inset 0 -1px rgba(255,255,255,0.5)
                        color verde
                        display block
                        font-family 'league'
                        font-size 2.4em
                        letter-spacing 1px
                        outline none
                        padding 0.2em 1em 0.2em 1.2em
                        text-decoration none
                        text-transform uppercase
                        transition background 0.3s, box-shadow 0.3s
                        &:hover
                            background rgba(0,0,0,0.2)
                            box-shadow inset 0 -1px rgba(0,0,0,0)
                            color #fff
                    .fc
                        box-shadow inset 0 1px rgba(255,255,255,0.5), inset 0 -1px rgba(255,255,255,0.5)

// Pizzas, Empanadas

.pizzas,
.empanadas,
.otros-productos
    background white
    padding-bottom 80px
    h3
        font-family 'league'
        font-size 2em
        text-transform uppercase
        box-shadow inset 0 -1px rgba(0,0,0,0.1)
        padding-top 0
        .fc
            box-shadow inset 0 -1px rgba(0,0,0,0.1), inset 0 1px rgba(0,0,0,0.1)

    ul
        margin 0 auto
        padding 0
        li
            display inline-block
            list-style none
            background black
            padding 0.2em 0.8em 0.3em 0.8em
            margin -1px
            color claro
            text-align center
            font-size 1em
            text-transform uppercase
            font-family 'league'
            letter-spacing 0.1em
    .ingredientes
        color verde
        font-family 'Fjalla One', 'sans-serif'
        font-size 1.2em
        margin 0
        padding 0.1em 0 0.2em 0
        text-transform uppercase
    .photo
        -moz-background-size cover
        -o-background-size cover
        -webkit-background-size cover
        background-color #f1f1f1
        background-size cover
        background: url('../img/pizza.jpg') no-repeat center center scroll
        color #fff
        display table
        height 200px
        margin-bottom 10px
        padding 100px 0
        text-align: center
        width 100%
    .precio
        font-family 'Fjalla One', 'sans-serif'
        font-size 1.6em
        letter-spacing 0em

// Otros Productos
